name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    name: Test and Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.23'
          check-latest: true
          cache: true

      - name: Install dependencies
        run: go mod download

      - name: Run Tests
        run: go test -v -race ./...

      - name: Golangci-lint
        uses: golangci-lint/golangci-lint-action@v6
        with:
          version: latest
